In [3]:
try:
    b=open("data.csv",'x')
    b.close()
except:
        print("THe file is already here")

THe file is already here

In [ ]:
info = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    physics = int(input("Enter physics = "))
    chemistry = int(input("Enter chemistry = "))
    math = int(input("Enter math = "))
    english = int(input("Enter English = "))
    total = physics+chemistry+math+english
    per = total/4
    data = f"{name},{physics},{chemistry},{math},{english},{total} ,{per}\n"
    info = info +data
print(info)
b = open('data.csv','w')
b.write(info)
b.close()

In [9]:
info = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    physics = int(input("Enter physics = "))
    chemistry = int(input("Enter chemistry = "))
    math = int(input("Enter math = "))
    english = int(input("Enter English = "))
    total = physics+chemistry+math+english
    per = total/4
    data = f"{name},{physics},{chemistry},{math},{english},{total} ,{per}\n"
    info = info +data
print(info)
b = open('data.csv','a')
b.write("Name,Physics,Chemistry,Maths,English,Total,Per\n")
b.write(info)
b.close()

Enter n = 5
Enter name = Ram
Enter physics = 78
Enter chemistry = 98
Enter math = 75
Enter English = 73
Enter name = Shyam
Enter physics = 89
Enter chemistry = 46
Enter math = 87
Enter English = 85
Enter name = Gita
Enter physics = 45
Enter chemistry = 46
Enter math = 89
Enter English = 98
Enter name = Hari
Enter physics = 45
Enter chemistry = 78
Enter math = 96
Enter English = 75
Enter name = You
Enter physics = 85
Enter chemistry = 98
Enter math = 85
Enter English = 76
Ram,78,98,75,73,324 ,81.0
Shyam,89,46,87,85,307 ,76.75
Gita,45,46,89,98,278 ,69.5
Hari,45,78,96,75,294 ,73.5
You,85,98,85,76,344 ,86.0

In [10]:
b=open("data.csv",'r')
print(b.read())
b.close()

ram,78,98,75,45,296 ,74.0
Shyam,75,25,96,42,238 ,59.5
Name,Physics,Chemistry,Maths,English,Total,Pere,45,78,98,45,266 ,66.5
g,45,25,63,86,219 ,54.75
Name,Physics,Chemistry,Maths,English,Total,Per
Ram,78,98,75,73,324 ,81.0
Shyam,89,46,87,85,307 ,76.75
Gita,45,46,89,98,278 ,69.5
Hari,45,78,96,75,294 ,73.5
You,85,98,85,76,344 ,86.0

In [16]:
import pandas as pd
df =pd.read_csv("data.csv")
df

    Name  Physics  Chemistry  Maths  English  Total    Per
0    Ram       78         98     75       73    324  81.00
1  Shyam       89         46     87       85    307  76.75
2   Gita       45         46     89       98    278  69.50
3   Hari       45         78     96       75    294  73.50
4    You       85         98     85       76    344  86.00

In [17]:
df.head(3)

    Name  Physics  Chemistry  Maths  English  Total    Per
0    Ram       78         98     75       73    324  81.00
1  Shyam       89         46     87       85    307  76.75
2   Gita       45         46     89       98    278  69.50

In [18]:
df.tail(2)

   Name  Physics  Chemistry  Maths  English  Total   Per
3  Hari       45         78     96       75    294  73.5
4   You       85         98     85       76    344  86.0

In [19]:
import pandas as pd
df =pd.read_csv("data.csv",index_col="Name")
df

       Physics  Chemistry  Maths  English  Total    Per
Name
Ram         78         98     75       73    324  81.00
Shyam       89         46     87       85    307  76.75
Gita        45         46     89       98    278  69.50
Hari        45         78     96       75    294  73.50
You         85         98     85       76    344  86.00

In [35]:
import pandas as pd
df =pd.read_csv("data.csv",index_col="Name",usecols= ["Name","Per"])
df.head()

         Per
Name
Ram    81.00
Shyam  76.75
Gita   69.50
Hari   73.50
You    86.00

In [25]:
import pandas as pd
df = pd.read_csv("data.csv",index_col ="Name")
df.iloc[0:3,0:5]

       Physics  Chemistry  Maths  English  Total
Name
Ram         78         98     75       73    324
Shyam       89         46     87       85    307
Gita        45         46     89       98    278

In [2]:
import pandas as pd
df = pd.read_csv("data.csv",index_col ="Name")
df.loc["Ram":"Gita"]

ValueError: Index Name invalid

In [1]:
df[df['Chemistry']>70]

NameError: name 'df' is not defined

In [40]:
x=df[(df['Physics']>70) & (df['English']>90)]
x

KeyError: 'Physics'

In [ ]:
#list inside list to dataframe