In [1]:
a = {'A':'Apple'}
b = {'B':'Ball'}
a.update(b)
print(a)

{'A': 'Apple', 'B': 'Ball'}

In [3]:
a={'A': 'Apple', 'B': 'Ball'}
del a['A']
print(a)

{'B': 'Ball'}

In [13]:
a={'A': 'you', 'B': 'Me'}
a.pop('B')

'Me'

In [14]:
a = {'NTC':[9843009988,9843556763,9843556543],
    'NCELL':[9808556543,9808556512,9890876654],
    'Name':['Ram','Shyam','Hari']}
print(a)

{'NTC': [9843009988, 9843556763, 9843556543], 'NCELL': [9808556543, 9808556512, 9890876654], 'Name': ['Ram', 'Shyam', 'Hari']}

In [17]:
a['Name']

['Ram', 'Shyam', 'Hari']

In [19]:
a['NCELL']

[9808556543, 9808556512, 9890876654]

In [20]:
print(a['NCELL'],a['Name'])

[9808556543, 9808556512, 9890876654] ['Ram', 'Shyam', 'Hari']

In [ ]:

#Assignment
#student result
#accounting
#CRUD of any certain record