In [ ]:
a="hello world\n"
print(a*3)

In [ ]:
# string formatting
name = input("enter the name =")
phone = input('Enter the  number =')
data = f"{name} {phone}"
print(data)

In [ ]:
a.split
data_array
a.replace
a.lower
a.upper

In [ ]:
info=""
n=int(input("enter the value of n ="))
for i in range (n):
     Name = input("Enter name = ")
    physics = int(input("Enter Physics = "))
    Chem = int(input("Enter Chemistry = "))
    Maths = int(input("Enter Maths = "))
    Eng = int(input("Enter English = "))
    Total = Phy+Chem+Matsh+Eng
    Percentage = Total/4
    Data = f"{Name} {Phy} {Chem} {Maths} {Eng} {Total} {Percentage}\n"
    info = info +Data
print(info)

In [1]:
Infos =""
n=int(input("Enter the value of n ="))
for i in range (n):
    Name=input("Enter the name =")
    Physics=int(input("enter the value ="))
    Chemestry=int(input("Enter the value ="))
    Maths=int(input("Enter the value ="))
    Nepali=int(input("Enter the value ="))
    English=int(input("Enter the value ="))
    Total=Physics+Chemestry+Maths+Nepali+English
    percentage=Total/4
    Data=f" {Name} {Physics} {Chemestry} {Maths} {Nepali} {English} {Total} {percentage}\n"
    Infos = Infos +Data
    print(Infos)

Enter the value of n =3
Enter the name =Suraj
enter the value =12
Enter the value =13
Enter the value =14
Enter the value =15
Enter the value =16
 Suraj 12 13 14 15 16 70 17.5

Enter the name =Hari
enter the value =20
Enter the value =30
Enter the value =40
Enter the value =50
Enter the value =60
 Suraj 12 13 14 15 16 70 17.5
 Hari 20 30 40 50 60 200 50.0

Enter the name =You
enter the value =80
Enter the value =40
Enter the value =60
Enter the value =70
Enter the value =68
 Suraj 12 13 14 15 16 70 17.5
 Hari 20 30 40 50 60 200 50.0
 You 80 40 60 70 68 318 79.5

In [2]:
print(Infos)

 Suraj 12 13 14 15 16 70 17.5
 Hari 20 30 40 50 60 200 50.0
 You 80 40 60 70 68 318 79.5

In [10]:
 a= "Suraj 12 13 14 15 16 70 17.5\nHari 20 30 40 50 60 200 50.0\nYou 80 40 60 70 68 318 79.5"
print(a)

Suraj 12 13 14 15 16 70 17.5
Hari 20 30 40 50 60 200 50.0
You 80 40 60 70 68 318 79.5

In [25]:
a.split('\n')

['You']

In [16]:
Data_array = a.split('\n')

In [17]:
Data_array

['Suraj 12 13 14 15 16 70 17.5',
 'Hari 20 30 40 50 60 200 50.0',
 'You 80 40 60 70 68 318 79.5']

In [21]:
if "You" in a:
    print("Yes")
else:
        print("NO")

Yes

In [24]:
a="You"
b=a.replace("You","She")
print(b)

She

In [29]:
Data_array['Suraj 12 13 14 15 16 70 17.5','Hari 20 30 40 50 60 200 50.0','You 80 40 60 70 68 318 79.5']
for i in range(3):
if "You" in  Data_array[i]:
print("yes")
else:
    print('No')
    print(Data_array[i])

IndentationError: expected an indented block (<ipython-input-29-cdeb9e95f949>, line 3)

In [ ]:
# wap for billing in a shop
#inventry
def menu():
info=''
Sum=0
n= int(input("Enter the number of goods"))
for i in range(n):
    Name=input("Name of goods =")
    Quantity=float(input("Enter the quantity = "))
    price=int(input('Enter the price ='))
    total= price*Quantity
    Data=f"{Name} {Quantity} {price} {total}\n"
    info=info+Data
    Sum=Sum+total
print(info)
print("The total sum is =",Sum)
menu()